# Core packages
numpy
pandas

# Machine Learning
scikit-learn
torch
tensorflow
joblib

# Visualization
matplotlib
seaborn

# Backend API
flask
fastapi
uvicorn

# Frontend UI
streamlit
requests
streamlit-autorefresh
matplotlib
seaborn